In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_parquet("/kaggle/input/child-mind-institute-detect-sleep-states/train_series.parquet")
df.head()

      series_id  step                 timestamp  anglez    enmo
0  038441c925bb     0  2018-08-14T15:30:00-0400  2.6367  0.0217
1  038441c925bb     1  2018-08-14T15:30:05-0400  2.6368  0.0215
2  038441c925bb     2  2018-08-14T15:30:10-0400  2.6370  0.0216
3  038441c925bb     3  2018-08-14T15:30:15-0400  2.6368  0.0213
4  038441c925bb     4  2018-08-14T15:30:20-0400  2.6368  0.0215

In [3]:
df["anglez"].mean(), df["anglez"].std()

(-8.810453, 35.521877)

In [4]:
df["enmo"].mean(), df["enmo"].std()

(0.041315034, 0.10182893)

In [5]:
ANGLEZ_MEAN = -8.810
ANGLEZ_STD = 35.52
ENMO_MEAN = 0.04132
ENMO_STD = 0.1018

In [6]:
df["anglez"] = (df["anglez"] - ANGLEZ_MEAN) / ANGLEZ_STD
df["enmo"] = (df["enmo"] - ENMO_MEAN) / ENMO_STD
df["anglez"].mean(), df["anglez"].std(), df["enmo"].mean(), df["enmo"].std()

(-1.3405254481036017e-05,
 1.000052798090698,
 0.00014803123976737782,
 1.0002841856000981)