In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yaml

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("train_folds.csv")
df.head()

      series_id  fold
0  038441c925bb     2
1  03d92c9f6f8a     4
2  0402a003dae9     1
3  04f547b8017d     3
4  05e1944c3818     0

In [4]:
for fold in range(5):
    train_ids = df[df["fold"]!=fold]["series_id"].values.tolist()
    valid_ids = df[df["fold"]==fold]["series_id"].values.tolist()

    # yamlに書き出す
    data = {
        "train_series_ids": train_ids,
        "valid_series_ids": valid_ids
    }
    with open(f"fold_{fold}.yaml", "w") as f:
        yaml.dump(data, f)